main {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: MistyRose;
  border-style: solid;
  border-color: SeaGreen;
}
body {
  background-color: LightGoldenRodYellow;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
article {
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
  overflow-y: auto;
}
h1 {
  color: green;
  width: 500px;
  border: 1px solid green;
  border-style: solid;
}
h2 {
  color: green;
  width: 500px;
  border: 1px solid green;
}
h3 {
  color: green;
  width: 500px;
  border: 1px solid green;
}
ul {
  border-style: solid;
  color: green;
  width: 500px;
}